<h2>Edit Item</h2>

<%= form_for(@item, method: :put) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, name: 'title', value: @item.title %>

  <%= f.label :price %>
  <%= f.text_field :price, name: 'price', value: number_to_currency(@item.price) %>

  <%= f.label :condition %>
  <%= f.select :condition, ['active', 'retired'], name: 'condition', value: @item.condition %>

  <%= f.label :description %>
  <%= f.text_area :description, name: 'description', value: @item.description %>

  <%= f.submit "Submit" %>
<% end %>
